body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

main {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

label {
    margin-left: 10px;
}

button {
    margin-top: 10px;
    margin:auto;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
